
<!--&lt;!&ndash;<my-header></my-header>&ndash;&gt;-->

<!--&lt;!&ndash; Page Header &ndash;&gt;-->
<!--&lt;!&ndash; Set your background image for this header on the line below. &ndash;&gt;-->
<!--&lt;!&ndash;<header class="intro-header" style="background-image: url('../../../resources/img/about-bg.jpg')">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="site-heading">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Clean Blog</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<hr class="small">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="subheading">Anything more than you need</span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</header>&ndash;&gt;-->

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-custom navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header page-scroll">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse"-->
                    <!--data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>-->
                    <!--<a [routerLink]="['LogIn']">Log in</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a [routerLink]="['Posts']">Posts</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a [routerLink]="['AddPost']">New post</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a [routerLink]="['About']">About</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->

<!--<router-outlet></router-outlet>-->

<!--&lt;!&ndash; Posts component invoke &ndash;&gt;-->
<!--<my-posts></my-posts>-->

<!--<hr>-->

<!--<my-footer></my-footer>-->