<!--&lt;!&ndash; Page Header &ndash;&gt;-->
<!--&lt;!&ndash; Set your background image for this header on the line below. &ndash;&gt;-->
<!--<header class="intro-header" style="background-image: url('../../../public/img/post-bg.jpg')">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
                <!--<div class="post-heading" *ngIf="post">-->
                    <!--<h1>{{post.title}}</h1>-->
                    <!--<h2 class="subheading">{{post.subtitle}}</h2>-->
                    <!--<span class="meta">Posted by <a href="">{{post.author}}</a> on {{post.date}}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->


<!--&lt;!&ndash; Post Content &ndash;&gt;-->
<!--<article *ngIf="post">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
                <!--<div [innerHTML]="post.content"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</article>-->

<!--<hr/>-->

<!--&lt;!&ndash; Pager &ndash;&gt;-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
            <!--<ul class="pager">-->
                <!--<li class="next">-->
                    <!--<a (click)="switchCommentShow()" style="cursor: hand">Show/Hide comments &rarr;</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--&lt;!&ndash; Comments &ndash;&gt;-->
<!--<div [ngClass]="{hide: !commentShow}" style="margin-top: 3em">-->
    <!--<my-comments></my-comments>-->
<!--</div>-->



